@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main m-0 pr-5" style="max-height:100%;">
        @Body
    </div>
</div>


@code {
    public String currentGroup = "groups/" + Current.UserId.ToString();
    public String currentMessages = "messages/" + Current.UserId.ToString();
}
